.container {
  background: #FFFFFF;
  border: 1px solid #00EBCE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container:first-child {
  margin-top: 0px;
  border-color: #FF7A00;
}

.header {
  width: 100%;
}

.headerImage {
  width: 100%;
  height: auto;
}

.content {
  padding: 30px
}

.titleRow {
  display: flex;
  align-items: center;
}

.titleRow h1 {
  margin: 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  color: #000000;
}

.titleRow img {
  margin-left: 20px;
}

.ratingText {
  margin-top: 24px;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.featureContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.featureContainer svg {
  width: 18px;
  height: 18px;
}

.featureContainer p {
  margin: 0px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.button {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 20px;
  width: 100%;
  background: #2081E2;
  border: 1px solid #2081E2;
  border-radius: 100px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 113.9%;
  color: #FFFFFF;
  text-transform: capitalize;
}

.visitSiteText {
  margin: 0px;
  margin-top: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

@media (min-width: 800px) {
  .container {
    margin-top: 50px;
    padding: 75px;
    display: flex;
    flex-direction: row;
  }

  .container:first-child {
    margin-top: 0px;
    border-color: #FF7A00;
  }
  
  .header {
    flex: 5;
  }

  .content {
    margin-left: 60px;
    flex: 2;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .ratingText {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 61px;
  }

  .featureContainer svg {
    width: 32px;
    height: 32px;
  }

  .featureContainer p {
    margin-left: 10px;
    font-size: 23px;
    line-height: 51px;
  }

  .visitSiteText {
    line-height: 40px;
  }
}